# Dependencies
node_modules/

# Production build
dist/

# Environment variables (JANGAN DIUPLOAD!)
.env
.env.local
.env.production

# Editor
.vscode/
*.bak

# OS
.DS_Store
Thumbs.db
